<% include templates/header %>
    <section class="jumbotron">
        <div class="container">
            <div class="row justify-content-left">
                <div class="col-lg-6 col-md-6 col-12 is-mobile">
                        <figure class="">
                            <img class="illus-a" src="/assets/images/illus-1-a.png">
                            <img class="illus-b" src="/assets/images/illus-1-b.png">
                        </figure>
                    </div>
                <div class="col-lg-6 col-md-6 col-12">

                    <h1 class="muli-bold">
                        <%=translation.WELCOME_MSG1%>.<br><%=translation.WELCOME_MSG2%>.
                    </h1>
                    <p class="muli-reg">
                        <%=translation.WELCOME_TEXT%>
                    </p>
                    <a href="" class="jumb-btn muli-semi-bold button btn-grad-blue">Our Works</a>
                </div>
                <div class="col-lg-6 col-md-6 col-12 cd-background-wrapper is-desktop">
                    <figure class="">
                        <img class="illus-a" src="/assets/images/illus-1-a.png">
                        <img class="illus-b" src="/assets/images/illus-1-b.png">
                    </figure>
                </div>

            </div>
        </div>
       <div class="scroll"></div>
       <p class="centered f-12 muli-light scroll-text">Scroll</p>
    </section>
    <section class="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 is-desktop">
                    <div class="service-img">
                        <img class="illus-2a" src="/assets/images/illus-2-a.png">
                        <img class="illus-2b" src="/assets/images/illus-2-b.png">
                    </div>
                    
                    <div class="list" style="margin-top:38px;">
                        <div class="icons ux"></div>
                        <h2><%=translation.UI_UX_DEV%></h2>
                        <p><%=translation.UI_UX_DEV_TEXT%></p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="muli-semi-bold"><%=translation.WHAT_WE_DO%></h3>
                    <h4>
                        <%=translation.WHAT_WE_DO_TEXT%>
                    </h4>
                    <div class="list">
                        <div class="icons web"></div>
                        <h2><%=translation.WEB_DEV%></h2>
                        <p><%=translation.WEB_DEV_TEXT%></p>
                    </div>
                    <div class="list">
                        <div class="icons mobile"></div>
                        <h2><%=translation.MOBILE_DEV%></h2>
                        <p><%=translation.WEB_DEV_TEXT%></p>
                    </div>
                </div>
                <div class="col-lg-6 is-mobile">
                    
                    <div class="list">
                        <div class="icons ux"></div>
                        <h2><%=translation.UI_UX_DEV%></h2>
                        <p><%=translation.UI_UX_DEV_TEXT%></p>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <section class="benefits">
        <div class="container">
            <div class="border-box" id="whyus">
                <div class="row">
                    <div class="left">
                        <div class="border-pink"></div>
                        <h3 class="section-subtitle"><%=translation.BUSINESS_OWNER%></h3>
                        <p><%=translation.BUSINESS_OWNER_TEXT1%>
                        </p>
                        <p><%=translation.BUSINESS_OWNER_TEXT2%></p>
                        <p><%=translation.BUSINESS_OWNER_TEXT3%>
                        </p>
                    </div>
                    <div class="right is-desktop">
                            <img class="illus-3a" src="/assets/images/illus-3-a.png">
                        <img class="illus-3b" src="/assets/images/illus-3-b.png">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="clients">
        <div class="fill1"></div>  
        <div class="container">
            <h2 class="centered section-title"><%=translation.OUR_CLIENTS%></h2>
            <h3 class="centered section-subtitle"><%=translation.OUR_CLIENTS_TEXT%></h3>
            <div class="row">
                <div class="col-lg-2 is-desktop">
                    <img class="img-responsive" src="/assets/images/clients/index.png">
                </div>
                <div class="col-lg-2">
                    <img class="img-responsive" src="/assets/images/clients/logo_indocart.png">
                </div>
                <div class="col-lg-2">
                    <img class="img-responsive" src="/assets/images/clients/logobaru-min.png">
                </div>
                <div class="col-lg-2">
                    <img class="img-responsive" src="/assets/images/clients/FA_Beyond_Logo_.png">
                </div>
                <div class="col-lg-2">
                    <img class="img-responsive" src="/assets/images/clients/yifang_logo.png">
                </div>

                <div class="col-lg-2">
                    <img class="img-responsive" src="/assets/images/clients/haribaik.png">
                </div>

                
            </div>
            
        </div>

    </section>

    <section class="case">
        <div class="container">
            <h2 class="centered section-title"><%=translation.CASE_STUDIES%></h2>
            <h3 class="centered section-subtitle"><%=translation.OUR_CLIENTS_TEXT%></h3>
            <div class="row">
                <div class="col-lg-6 case1" data-toggle="modal" data-target="#appCaseModal">
                    <img class="img-responsive image" src="/assets/images/case1.png">
                    <div class="overlay-1">
                        <div class="text">Mobile Application</div>
                    </div>
                </div>
                <div class="col-lg-6 case2" data-toggle="modal" data-target="#webCaseModal">
                    <img class="img-responsive image" src="/assets/images/case2.png">
                    <div class="overlay-2">
                        <div class="text">Website</div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <section class="team">
        <div class="fill2"></div>
        <div class="container">
            <h2 class="centered section-title">The Team</h2>
            <h3 class="centered section-subtitle"><%=translation.THE_TEAM_TEXT%></h3>
            <div class="row">
                <div class="col-lg-3">
                    <img class="img-responsive" src="/assets/images/teams/fadil@2x.png">
                    <span class="name">Fadil Hakim</span>
                    <span class="title">Managing Director</span>
                </div>
                <div class="col-lg-3">
                    <img class="img-responsive" src="/assets/images/teams/syafei.png">
                    <span class="name">Muhammad Syafei</span>
                    <span class="title">Marketing Director</span>
                </div>
                <div class="col-lg-3">
                    <img class="img-responsive" src="/assets/images/teams/dicky@2x.png">
                    <span class="name">Dicky Ariyanto</span>
                    <span class="title">Senior Designer</span>
                </div>
                <div class="col-lg-3">
                    <img class="img-responsive" src="/assets/images/teams/edi@2x.png">
                    <span class="name">Edi Surata</span>
                    <span class="title">Senior Developer</span>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-home">
        <div class="container">
            <div class="row justify-content-center"> 
                <div class="col-lg-10">
                    <div class="row"> 
  
                    </div>
                </div>
            </div>
        </div>
    </section>
<% include templates/footer %>

<!-- <form action="" class="form-style-8">
    <h3>TELL US YOUR IDEA</h3>
    <p>and we can give birth to it together!</p>
    <input type="text" name="field1" placeholder="Full Name" />
    <input type="email" name="field2" placeholder="Email" />
    <input type="url" name="field3" placeholder="Website" />
    <textarea placeholder="Message" onkeyup="adjust_textarea(this)"></textarea>
    <input type="button" value="Send Message" />
</form> -->